body {
  background-color: rgb(170, 215, 255);
}

.jumbotron {
  background-color: azure;
}

.jumbotron h1 {
  font-size: 80px;
  font-family: 'Brush Script MT';
}

.jumbotron p {
  font-size: 30px;
}

.about img {
  float: left;
  display: block;
  max-width: 50%;
  max-height: 100%;
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
  border: 1px solid black;
}

.about p {
  font-size: 20px;
}

h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.item {
  clear: both;
}

.card {
  height: 90%;
  margin: 10px;
  background-color: azure;
}

.card:hover {
  background-image: image();
}

.orgs {
  font-weight: bold;
  font-style: italic;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav ul {
  padding-left: 0px;
}

.nav li {
  padding-left: 0px;
  list-style-type: none;
  float: left;
}

.nav a {
  color: rgb(32, 151, 255);
  display: block;
  padding: 8px;
  background-color: azure;
  border-radius: 2px;
}

.nav a:hover {
  color: black;
  background-color: darkgray;
}

.nav a:link {
   text-decoration: none; 
}

.nav a:active {
  color: white;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.gallery {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.gallery .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}