body {
  background-color: rgb(170, 215, 255);
}

.jumbotron {
  background-color: azure;
}

.jumbotron h1 {
  font-size: 80px;
  font-family: 'Brush Script MT';
}

.jumbotron p {
  font-size: 30px;
}

.about img {
  float: left;
  display: block;
  max-width: 50%;
  max-height: 100%;
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
  border: 1px solid black;
}

.about p {
  font-size: 20px;
}

h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.item {
  clear: both;
}

.card {
  height: 90%;
  margin: 10px;
  background-color: azure;
}

.orgs {
  font-weight: bold;
  font-style: italic;
}
